<div *ngIf="!isThreePulseRoute" class="wrapper">
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/todo"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Todo</a
        >
      </li>
      <li>
        <a
          routerLink="/paint"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Paint</a
        >
      </li>
      <li>
        <a
          routerLink="/three"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Three.js</a
        >
      </li>
      <li>
        <a
          routerLink="/state"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >State</a
        >
      </li>
      <li>
        <a
          routerLink="/three-pulse"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Three Pulse</a
        >
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
